* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}


.lefty-righty {
    position: relative;
}

.lf-reverse {
    position: relative;
}

.row {
    overflow: hidden;
}

.nav {
    background: purple;
    height: 10%;
    width: 300px;
    position: absolute;
    right: 100px;
}

.one,
.two,
.three,
.four,
.five,
.six {
    width: 16%;
    color: white;
    padding: 10px;
    float: left;
}

.one {
    background: blue;
}

.two {
    background: orange;
}

.three {
    background: green;
}

.four {
    background: pink;
}

.five {
    background: brown;
}

.six {
    background: black;
}
