.lr-popup {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: rgba(0, 0, 0, .9);
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.lr-popup > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.lr-popup > div > p {
    font-size: 2rem;
}

.lr-popup .row {
    padding: 15px;
}

.lr-popup svg {
    max-width: 150px;
    width: 100%;
}

.lr-popup .left,
.lr-popup .right,
.lr-popup .lr-close {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    float:left;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.lr-popup .lr-close {
    width: 100%;
}

.lr-popup .left {
    margin-right: 4%;
}

/* --- */

.lr-item {
    border: 1px solid;
    background: purple;
    padding: 10px;
    margin: 15px 0;
    text-align: left;
    color: white;
}

.row .lr-item.one {
    background: blue;
}

.row .lr-item.two {
    background: red;
}

.row .lr-item.three {
    background: green;
}

.row .lr-item.four {
    background: pink;
}

.a {
    padding: 20px;
    width: 200px;
    display: block;
    background-color: #e00122 !important;
    color: white !important;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    border-radius: 3px;
}

a:hover {
    text-decoration: none !important;
}

.fourth {
    width: 25%;
    float: left;
}
