.lr-popup {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: rgba(0, 0, 0, .9);
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.lr-popup > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.lr-popup > div > p {
    font-size: 2rem;
}

.lr-popup .row {
    padding: 15px;
}

.lr-popup svg {
    max-width: 150px;
    width: 100%;
}

.lr-popup .left,
.lr-popup .right,
.lr-popup .lr-close {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    float:left;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.lr-popup .lr-close {
    width: 100%;
}

.lr-popup .left {
    margin-right: 4%;
}

.lr-spec {
    float: right;
}

/* --- */
table {
    width: 100%;
}

table td,
table th { padding: 10px;}

.row {
    margin: 15px;
}

.item {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
}

.item span {
    font-size: 3rem;
    font-weight: bold;
}

.item p {
    font-size: 1.5rem;
}

.a {
    padding: 20px;
    display: block;
    background-color: #e00122 !important;
    color: white !important;
    margin-left: -100px;
    text-align: center;
    border-radius: 3px;
}

a:hover {
    text-decoration: none !important;
}
